# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/

# =========================
# Environment files
# =========================
.env
.env.*
proxy.conf.local.json

# =========================
# Logs
# =========================
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# =========================
# OS / Editor files
# =========================
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# =========================
# Git / tooling
# =========================
.git/
.github/
